<div class="container container-confirmation">
    <div class="title-confirmation">
      It's a match !
    </div>

    <div class="pictures-confirmation">
      <div class="pix-layer">
        <img src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/14910465_10154061156047253_6893560435987266829_n.jpg?oh=ea93c10ad90389172efff7b03861e2d0&oe=5B4837E7"></img>
        <img src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/17265134_10212544381703041_6003345260275229759_n.jpg?oh=6a59f3ca6a345cd6993bb945e96c73dd&oe=5B3A8972"></img>
      </div>
      <!--
      <div class="circles-layer">
        <div class="yellow-circle"></div>
        <div class="yellow-circle"></div>

        <div class="blue-circle"></div>
        <div class="blue-circle"></div>
      </div>
    -->
    </div>

    <div class="selected-names">
      Lorenzo & Anaïs...
    </div>

    <div class="input-area">

      <%= form_tag users_show_path do%>
      <%= text_area_tag 'body', ''%>
      <%= submit_tag "submit",:value => "submit", class: "CTA_button" %>
      <%end%>
    </div>

    <div>
      <%= mail_to "segolene.alquier@yahoo.com", "ENVOIE !", subject: "Tu as un match sur obviews !", body: "Je pense que tu devrais rencontrer Michel"%>
    </div>

    <div class="action_link">
          <a href='/board/index' >Annuler</a>
    </div>
</div>
