<!-- TOP CONTAINER -->
<div class= "candidate">
  <div class="bio">
    <p class="bio_description">
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dolores totam harum laboriosam dolorem in tempore sapiente porro veritatis eaque, esse corporis ut deserunt qui saepe delectus deleniti, ab magnam.
    </p>
    <div class="action-bar">
      <!-- <i class="fav material-icons">star_border</i> -->
      <!-- Activer si le user clique sur cette div -->
      <i class="fav material-icons active">star</i>
      <span class="user-name-display">Thomas Darrigade</span>
      <!-- <i class="lock material-icons">lock_open</i> -->
      <!-- Activer si le user clique sur cette div -->
      <i class="lock material-icons active">lock</i>
    </div>
  </div>
  <div class="picture">
    <img class="img-fluid"
    src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/14910465_10154061156047253_6893560435987266829_n.jpg?oh=ea93c10ad90389172efff7b03861e2d0&oe=5B4837E7"
    alt="Profil Picture">
    <div class="action-bar">
      <!-- <i class="fav material-icons">star_border</i> -->
      <!-- Activer si le user clique sur cette div -->
      <i class="fav material-icons active">star</i>
      <span class="user-name-display">Thomas Darrigade</span>
      <!-- <i class="lock material-icons">lock_open</i> -->
      <!-- Activer si le user clique sur cette div -->
      <i class="lock material-icons active">lock</i>
    </div>
  </div>
</div>
<!-- MIDDLE -->
<div class= "middle-container">
    <img class = circle-image src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/23472346_10155864352671552_8955388324388255932_n.jpg?oh=f8133af7e77cd65ee238ba66cebd44e3&oe=5B3CF69C" alt="Profil Picture">
    <button type="button" class="btn btn-outline-danger">MATCH</button>
    <button type="button" class="btn btn-light">Next</button>
</div>
<!-- BOTTOM CONTAINER -->
<div class= "candidate">
  <div class="bio">
  </div>
  <div class="picture">
    <img class="img-fluid"
    src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/14910465_10154061156047253_6893560435987266829_n.jpg?oh=ea93c10ad90389172efff7b03861e2d0&oe=5B4837E7"
    alt="Profil Picture">
    <div class="action-bar">
        
          <i class="fav material-icons">star_border</i>
          <!-- Activer si le user clique sur cette div -->
          <!-- <i class="fav material-icons">star</i> -->
          <span class="user-name-display">Thomas Darrigade</span>
          
          <i class="lock material-icons">lock_open</i>
          <!-- Activer si le user clique sur cette div -->
          <!-- <i class="lock material-icons">lock</i> -->
    </div>
  </div>
</div>