<!-- TOP CONTAINER -->
<div class= "candidate">
  <div class="bio">
  </div>
  <div class="picture">
    <img class="img-fluid"
    src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/14910465_10154061156047253_6893560435987266829_n.jpg?oh=ea93c10ad90389172efff7b03861e2d0&oe=5B4837E7"
    alt="Profil Picture">
    <div class="action-bar">
      
        <div class="fav">
          <img class="img-fluid rounded" src="http://www.clker.com/cliparts/x/k/F/S/M/l/lime-green-heart-md.png" alt="lockpad">
        </div>
        <div>
          <h2>Thomas Darrigade</h2>
        </div>
        <div class="lock">
          <img class="img-fluid " src="http://www.clker.com/cliparts/4/H/Y/k/e/l/white-lock-md.png" alt="lockpad">
        </div>
    </div>
  </div>
</div>
<!-- MIDDLE -->
<div class= "middle-container">
    <img class = circle-image src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/23472346_10155864352671552_8955388324388255932_n.jpg?oh=f8133af7e77cd65ee238ba66cebd44e3&oe=5B3CF69C" alt="Profil Picture">
    <button type="button" class="btn btn-outline-danger">MATCH</button>
    <button type="button" class="btn btn-light">Next</button>
</div>
<!-- BOTTOM CONTAINER -->
<div class= "candidate">
  <div class="bio">
  </div>
  <div class="picture">
    <img class="img-fluid"
    src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/14910465_10154061156047253_6893560435987266829_n.jpg?oh=ea93c10ad90389172efff7b03861e2d0&oe=5B4837E7"
    alt="Profil Picture">
    <div class="action-bar">
      
        <div class="fav">
          <img class="img-fluid rounded" src="http://www.clker.com/cliparts/x/k/F/S/M/l/lime-green-heart-md.png" alt="lockpad">
        </div>
        <div>
          <h2>Thomas Darrigade</h2>
        </div>
        <div class="lock">
          <img class="img-fluid " src="http://www.clker.com/cliparts/4/H/Y/k/e/l/white-lock-md.png" alt="lockpad">
        </div>
    </div>
  </div>
</div>