<!-- TOP CONTAINER -->
<div class= "container1">
  <div class="picture">
    <img class="img-fluid rounded" src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/14910465_10154061156047253_6893560435987266829_n.jpg?oh=ea93c10ad90389172efff7b03861e2d0&oe=5B4837E7" alt="Profil Picture">
  </div>
  <div class="bio">
   <p> Bonjour, je m'appelle Thomas et je recherche toutes formes d'amitié d'amour ou de travail, car je suis seul au monde comme Tom Hanks dans le meme film, et j'ecris tout se qui me passe par la tête pour remplir.</p>
  </div>
  <div class="name">
    <div class= "heart">
    <img class="img-fluid rounded" src="http://www.clker.com/cliparts/x/k/F/S/M/l/lime-green-heart-md.png" alt="lockpad">
    </div>
    <h2>Thomas Darrigade</h2>
    <div class= "lock">
    <img class="img-fluid rounded" src="http://www.clker.com/cliparts/4/H/Y/k/e/l/white-lock-md.png" alt="lockpad">
    </div>
  </div>
</div>
  <!-- MIDDLE -->
<div class= "middle-container">
    <img class = circle-image src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/23472346_10155864352671552_8955388324388255932_n.jpg?oh=f8133af7e77cd65ee238ba66cebd44e3&oe=5B3CF69C" alt="Profil Picture">
    <button type="button" class="btn btn-outline-danger">MATCH</button>
    <button type="button" class="btn btn-light">Next</button>
</div>
<!-- BOTTOM CONTAINER -->
<div class= "container2">
  <div class="picture">
    <img class="img-fluid rounded" src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/17265134_10212544381703041_6003345260275229759_n.jpg?oh=6a59f3ca6a345cd6993bb945e96c73dd&oe=5B3A8972" alt="Profil Picture">
  </div>
  <div class="bio">
   <p> Bonjour, je m'appelle Thomas et je recherche toutes formes d'amitié d'amour ou de travail, car je suis seul au monde comme Tom Hanks dans le meme film, et j'ecris tout se qui me passe par la tête pour remplir.</p>
    
  </div>
  <div class="name">
    <div class= "heart">
    <img class="img-fluid rounded" src="http://www.clker.com/cliparts/x/k/F/S/M/l/lime-green-heart-md.png" alt="lockpad">
    </div>
    <h2>Céline Dubos</h2>
    <div class= "lock">
    <img class="img-fluid rounded" src="http://www.clker.com/cliparts/4/H/Y/k/e/l/white-lock-md.png" alt="lockpad">
    </div>
  </div>
</div>
