<div class="container container-share">
    <div class="text-share">
        <p>Obviews, c’est évidemment <strong>mieux avec ses amis !</strong></p>
        <p class="yellow_p">Invite-les pour qu’ils puissent eux-aussi <strong>faire grandir leur communauté</strong>
          et <strong>te faire rencontrer leurs amis !</strong></p>
    </div>

    <div class="fb-share">
        <iframe src="https://www.facebook.com/plugins/share_button.php?href=https%3A%2F%2Fobviews-dev.herokuapp.com&layout=button&size=large&mobile_iframe=true&width=89&height=28&appId" width="89" height="28" style="border:none;overflow:hidden" scrolling="no" frameborder="0" allowTransparency="true"></iframe>
    </div>

    <div class="action_link action_link_fb">
      <%= link_to "Retour", board_show_path %>
    </div>

</div>
