<div class="container container-share">
    <div class="text-share">
        <p>Obviews, c’est évidemment <strong>mieux avec ses amis !</strong></p>

        <p class="yellow_p">Invite-les pour qu’ils puissent eux-aussi <strong>faire grandir leur communauté</strong>
          et <strong>te faire rencontrer leurs amis !</strong></p>

        <p>Tu recevras du karma pour </br> cette bonne action ;)</p>
    </div>

    <div class="CTA_button fb-share-button" data-href="https://obviews-dev.herokuapp.com" data-layout="button_count" data-size="small" data-mobile-iframe="true"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fobviews-dev.herokuapp.com%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partager</a></div>

    <%= link_to next_path, type:"button", class:"action_link", method: :get do %>
      <span class="action_link">Pas maintenant</span>
    <% end %>
</div>
