<div class="container container-share">
    <div class="text-share">
        <p>Obviews, c’est évidemment <strong>mieux avec ses amis !</strong></p>

        <p class="yellow_p">Invite-les pour qu’ils puissent eux-aussi <strong>faire grandir leur communauté</strong>
          et <strong>te faire rencontrer leurs amis !</strong></p>

        <p>Tu recevras du karma pour </br> cette bonne action ;)</p>
    </div>

    <div class="CTA_button">
        <a href='#'>PARTAGE !</a>
    </div>

    <div class="action_link">
        <a href='#' >Pas maintenant</a>
    </div>
</div>
