<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Bonjour et bienvenue chez Obviews!</h1>
    <p>
      Nous vous souhaitons de matcher à de faire matcher vos amis en fonction de leur affinités! 
      <br>
    </p>
    
    <p>L'équipe Obviews ! </p>
  </body>
</html>
