<div class="container container-big-carousel">
    <div class="container-carousel">
        <div class="container container-carousel-top">
            <div class="scroller">
                <div>
                  <h1>Bienvenue sur Obviews&nbsp!</h1>
                  <img src="https://i.imgur.com/lo6cyh3.png" alt="carousel1" width="70%">
                  <p>Fais de nouvelles rencontres <strong>par l'intermédiaire de tes amis !</strong></p>
                </div>

                <div>
                  <h1>Fais matcher tes amis…</h1>
                  <img src="https://i.imgur.com/AOkVcgu.png" alt="carousel2" width="70%">
                  <p>Quand tu le sens bien, <strong>déclare le match !</strong> Sinon, passe au suivant.</p>
                </div>

                <div>
                  <h1>… Et gagne du karma&nbsp!</h1>
                  <img src="https://i.imgur.com/NutGdTH.png" alt="carousel3" width="70%">
                  <p>À chaque match initié, <strong>tu gagnes des points de karma.</strong></p>
                </div>
            </div>
        </div>

        <div class="CTA_button">
          <%= link_to "JE M'INSCRIS", new_user_registration_path %>
        </div>
        <div class="action_link">
          <%= link_to "Je me connecte", new_user_session_path %>
        </div>
    </div>
</div>
