<div class="container scroller container-carousel">
  <div class="container scroller">
    <div>
      <h1>Qu'est-ce que c'est ?</h1>
      <div class="CTA_button">JE m'INSCRIS</div>
    </div>

    <div>
      <h1>Comment ça marche ?</h1>
      <div class="CTA_button">JE m'INSCRIS</div>
    </div>

    <div>
      <h1>Pourquoi s'inscrire ?</h1>
      <div class="CTA_button">JE m'INSCRIS</div>

    </div>
  </div>
</div>
