<div class="container-carousel">
  <div class="container container-carousel-top">
    <div class="scroller">
      <div>
        <h1>Qu'est-ce que c'est ?</h1>
        <p>Une app qui te permet de jouer à l'entremetteur avec tes amis</p>
      </div>

      <div>
        <h1>Comment ça marche ?</h1>
        <p>L'app te propose des amis, à toi de swiper pour créer les meilleures rencontres</p>
      </div>

      <div>
        <h1>Pourquoi s'inscrire ?</h1>
        <p>Tu aimes connecter tes amis mais tu n'y penses pas de toi-même</p>
      </div>
    </div>
  </div>

  <div class="CTA_button">
    <%= link_to "JE M'INSCRIS", new_user_registration_path %>
  </div>
  <div class="action_link">
    <%= link_to "Je me connecte", new_user_session_path %>
  </div>
</div>
