<div class="container container-my-profile">
    <div class= "my-profile">
      <div class="my-bio">
        <p class="bio-description-self">
          Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reiciendis dolores totam harum laboriosam dolorem in tempore sapiente porro veritatis eaque, esse corporis ut deserunt qui saepe delectus deleniti, ab magnam.
        </p>
        <div class="action-bar">
          <!-- <i class="fav material-icons">star_border</i> -->
          <!-- Activer si le user clique sur cette div -->
          <span class="user-name-display">Thomas Darrigade</span>
          <!-- <i class="lock material-icons">lock_open</i> -->
          <!-- Activer si le user clique sur cette div -->
        </div>
      </div>
      <div class="picture-self">
        <img src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/14910465_10154061156047253_6893560435987266829_n.jpg?oh=ea93c10ad90389172efff7b03861e2d0&oe=5B4837E7"></img><!-- CHANGED HERE -->
        <div class="action-bar">
          <!-- <i class="fav material-icons">star_border</i> -->
          <!-- Activer si le user clique sur cette div -->
          <span class="user-name-display">Thomas Darrigade</span>
          <!-- <i class="lock material-icons">lock_open</i> -->
          <!-- Activer si le user clique sur cette div -->
        </div>
      </div>
    </div>

    <div class="karma-score">
      Karma: 53
    </div>

    <div class="action-button">
      Voir mes views
    </div>

    <div class="">
    </div>

    <div class="action_link action_link_user-show">
      <a href='#' >Retour</a>
    </div>
</div>
