<div class="container">

    <!-- Tab links -->
    <div class="tab">
      <button class="tablinks btn-matchmaker" onclick="openCity(event, 'London')" id="defaultOpen">
        <i class="material-icons">file_download</i>
        <br>Matchmaker
      </button>
      <button class="tablinks btn-selected" onclick="openCity(event, 'Paris')">
        <i class="material-icons">file_upload</i>
        <br>Selected
      </button>
    </div>

    <!-- Tab content -->
    <div id="London" class="tabcontent">
      <p>Tu es un sacré entremetteur !</p>
    </div>

    <div id="Paris" class="tabcontent">
      <p>Pas mal de nouveaux amis en attente !</p>
    </div>

</div>
