<div class="container">
    <h1> Mes views </h1>

    <!-- Tab links -->
    <div class="tab">
      <button class="tablinks btn-matchmaker" onclick="openCity(event, 'London')" id="defaultOpen">
        <i class="material-icons">file_download</i>
      </button>
      <button class="tablinks btn-selected" onclick="openCity(event, 'Paris')">
        <i class="material-icons">file_upload</i>
      </button>
    </div>

    <!-- Tab content -->
    <div id="London" class="tabcontent">
      <div class="match-div">
        <div class="match-div-1">
          <div class="match-div-img"><img src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/14910465_10154061156047253_6893560435987266829_n.jpg?oh=ea93c10ad90389172efff7b03861e2d0&oe=5B4837E7"></img></div>
          <div class="selected-name">Thomas</div>
        </div>

        <div class="match-div-2">
          <div class="match-div-img"><img class="image-self" src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/17265134_10212544381703041_6003345260275229759_n.jpg?oh=6a59f3ca6a345cd6993bb945e96c73dd&oe=5B3A8972"></img></div>
        </div>

        <div class="match-div-3">
          <div class="match-div-img"><img src="https://scontent-cdt1-1.xx.fbcdn.net/v/t1.0-9/17265134_10212544381703041_6003345260275229759_n.jpg?oh=6a59f3ca6a345cd6993bb945e96c73dd&oe=5B3A8972"></img></div>
          <div class="selected-name">Léa</div>
        </div>
      </div>
    </div>

    <div id="Paris" class="tabcontent">
      <p>Pas mal de nouveaux amis en attente !</p>
    </div>

</div>
