<!-- TOP CONTAINER -->
<div class= "candidate_1">
  <div class="bio behind">
    <p class="bio_description" id="click-frame-bio">
      <span> @candidate_1.bio </span>
    </p>
    <div class="action-bar">
      <i class="fav material-icons">star_border</i>
      <!-- Activer si le user clique sur cette div -->
      <!-- <i class="fav material-icons active">star</i> -->
      <span class="user-name-display">@candidate_1.firstname @candidate_1.lastname</span>
      <i class="lock material-icons">lock_open</i>
      <!-- Activer si le user clique sur cette div -->
      <!-- <i class="lock material-icons active">lock</i> -->
    </div>
  </div>
  <div class="picture ahead">
    <span>image_tag @candidate_1.avatar.url(:original), class: "img-fluid"</span>
    <div class="action-bar">
      <!-- <i class="fav material-icons">star_border</i> -->
      <!-- Activer si le user clique sur cette div -->
      <i class="fav material-icons active">star</i>
      <span class="user-name-display">@candidate_1.firstname @candidate_1.lastname</span>
      <!-- <i class="lock material-icons">lock_open</i> -->
      <!-- Activer si le user clique sur cette div -->
      <i class="lock material-icons active">lock</i>
    </div>
  </div>
</div>
<!-- MIDDLE -->
<div class= "middle-container">

    <%= link_to '/match/index', type:"button", class:"action_link", method: :get do %>
    <button type="button" class="action_link">Retour</button>
    <% end %>

</div>
<!-- BOTTOM CONTAINER -->
<div class= "candidate_2">
  <div class="bio behind">
    <p class="bio_description" id="click-frame-bio">
      <span> @candidate_2.bio </span>
    </p>
    <div class="action-bar">
      <!-- <i class="fav material-icons">star_border</i> -->
      <!-- Activer si le user clique sur cette div -->
      <i class="fav material-icons active">star</i>
      <span class="user-name-display"> @candidate_2.firstname @candidate_2.lastname</span>

      <!-- <i class="lock material-icons">lock_open</i> -->
      <!-- Activer si le user clique sur cette div -->
      <i class="lock material-icons active">lock</i>
    </div>
  </div>
  <div class="picture ahead">
    <span>image_tag @candidate_1.avatar.url(:original), class: "img-fluid"</span>
    <div class="action-bar">
      <!-- <i class="fav material-icons">star_border</i> -->
      <!-- Activer si le user clique sur cette div -->
      <i class="fav material-icons active">star</i>
      <span class="user-name-display"> @candidate_2.firstname @candidate_2.lastname</span>
      <!-- <i class="lock material-icons">lock_open</i> -->
      <!-- Activer si le user clique sur cette div -->
      <i class="lock material-icons active">lock</i>
    </div>
  </div>
</div>
