@import "bootstrap";
@import "board";

body {
    background-color: #808080;
    display: flex;
}

#central-container {
    background-color: black;
    width: 400px;
    height: 100vh;
    margin: auto;
}