<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Vous avez ete Matché !</h1>
    <p>
     Bravo ! Découvrez avec qui <% user %> vous a fait matché ! Il vous a envoyé ce message :

    <%=params[:intro]%>

      <br>
    </p>
    
    <p>L'équipe Obviews ! </p>
  </body>
</html>
